<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Tour</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
   
</head>

<body>
  <style>
    #loginname {
      color:antiquewhite;
    }
    footer {
    position: fixed;
    height: 50px;
    background-color:lightgrey;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

    }
    
  </style>
  
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{{ url_for('index') }}">The Tour</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated %}
          {% if current_user.role.name == "USER" %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('gigs_index') }}"> Your Gigs</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('tour_index') }}">Your Tours</a></li>
          {% endif %}
          {% endif %}
          
      {% if current_user.is_authenticated %}
        {% if current_user.role.name == "ADMIN" %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('gigs_index') }}"> All Gigs</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tour_index') }}">All Tours</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('gigs_form') }}">Add a new Gig</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user_list') }}">Administration</a>
          </li>
        {% endif %}
        {% endif %}
      </ul>


      <div class="form-inline mt-2 mt-md-4">
        {% if current_user.is_authenticated %}
        
        <p id="loginname">
          Logged in as {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Logout</a>
          <a href="{{ url_for('auth_profile_view') }}">Profile</a>
        </p>
        {% else %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_register') }}">Register</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  
  <a name="page-content"></a>
  <main role="main" class="container">
    {% block body %}
    <p>
      Content.
    </p>


    {% endblock %}

  </main>

  <footer class="footer">
      <div class="container">
        <span class="text-muted">The Tour - tour managing system for live productions.</span>
      </div>
    </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>