{% extends "layout.html" %} {% block body %}
<h1>Edit Gig</h1>

<form method="POST" action="{{ url_for('gigs_edit', gig_id=gig_id) }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.place.label }}
            </td>
            <td>
                {{ form.place }}
            </td>
            
        </tr>
        <tr>
            <td>
                {{ form.pvm.label }}
            </td>
            <td>
                {{ form.pvm }}
            </td>
            
        </tr>
        <tr>
            <td>
                {{ form.showtime.label }}
            </td>
            <td>
                {{ form.showtime }}
            </td>
            
        </tr>
        <tr>
            <td>
                {{ form.status.label }}
            </td>
            <td>
                {{ form.status }}
            </td>
            
        </tr>

    </table>
    <input type="submit" class="btn btn-primary" value="OK" />
</form>
<form method="POST" action="{{ url_for('gigs_remove',gig_id=gig_id) }} ">
    <input type="submit" class="btn btn-primary" value="Delete" />
</form>

{% endblock %}