{% extends "layout.html" %}

{% block body %}

<form method="POST" action="{{ url_for('gigs_create') }}">

  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr> 
    <tr>
      <td>
        {{ form.place.label }}
      </td>
      <td>
        {{ form.place }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.pvm.label }}
      </td>
      <td>
        {{ form.pvm }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.showtime.label }}
      </td>
      <td>
        {{ form.showtime }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.status.label }}
      </td>
      <td>
        {{ form.status }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Lisää uusi keikka" />
      </td>
    </tr>

</form>
</table>
{% endblock %}