{% extends "layout.html" %}

{% block body %}
<h1>Profile details</h1>


<table class="no name yet">
    <tr>
        <td>
            {{ form.name.label }}
        </td>
        <td>
            {{ current_user.name }}
        </td>

    </tr>
    <tr>
        <td>
            Username:
        </td>
        <td>
            {{ current_user.username }}
        </td>

    </tr>
    <tr>
        <td>
            Played Gigs:
        </td>
        <td>
            {{past}}
        </td>
    </tr>
    <tr>
        <td>
            Upcoming Gigs:
        </td>
        <td>
            {{upcoming}} 
        </td>
    </tr>
    <tr>
            <td>
                Cancelled Gigs:
            </td>
            <td>
                {{cancelled}} 
            </td>
        </tr>

</table>
<form action="{{ url_for('auth_profile_edit')}}">
    <input type="submit" value="Edit" />
</form>



{% endblock %}