{% extends "layout.html" %}

{% block body %}
<h1>Profile details</h1>


<table class="no name yet">
    <tr>
        <td>
            {{ form.name.label}}
        </td>
        <td>
            {{ current.name }}
        </td>

    </tr>
    <tr>
        <td>
            Username:
        </td>
        <td>
            {{ current.username }}
        </td>

    </tr>
    <tr>
        <td>
            {{ form.role.label }}
        </td>
        <td>
            {{ current.role }}
        </td>
    </tr>
    <tr>
        <td>
            Played Gigs:
        </td>
        <td>
            {{past}}
        </td>
    </tr>
    <tr>
        <td>
            Upcoming Gigs:
        </td>
        <td>
            {{upcoming}} 
        </td>
    </tr>
    <tr>
            <td>
                Cancelled Gigs:
            </td>
            <td>
                {{cancelled}} 
            </td>
        </tr>

</table>
<form action="{{ url_for('auth_profile_edit')}}">
    <input type="submit" value="Edit" />
</form>




<p>Täällä voisi olla soitetut keikat ja tulevat keikat siten, että kun keikka on merkitty menneeksi, niin keikkaan
    liittyvien soittajien keikkamäärä nousee yhdellä</p>

{% endblock %}