{% extends "layout.html" %}

{% block body %}
  <h1>All users</h1>
  <table class="table order-list">
    <thead>
      <tr>
        <td>Remove</td>
        <td>Name</td>
        <td>Username</td>
        <td>Role</td>
        <td>Change role</td>
      </tr>
    </thead>
    <tbody>
      
      {% for user in users %}
      <tr>
        <td><a href="{{ url_for('users_remove', user_id=user.id) }}">X</a></td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <form method="POST" action="{{ url_for('user_change_role', user_id=user.id)}}">
        <td><button type="submit" class="btn btn-info">Change Role</button></td></form>
      </tr>
      {% endfor %}
      

    </tbody>

  </table>
{% endblock %}
